<p id="notice"><%= notice %></p>
<div ="container-fluid">
  <div class="row">
    <div class=" col-sm-12">
      <h1>Listing Food Items</h1>
    </div>
  </div>
</div>
  <div class="row">
   <div class=" col-sm-6">
      <a href=<%= new_food_item_path %> class="btn btn-primary btn active" role="button">Add Food</a>
    </div>
</div>
<br>
<% @food_items.each do |food| %>
      
  <div class="well well-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
          <div class="green_container" id="big-tuperware"><%= food.container_value %></div>
        </div>
        <div class="col-xs-2">
          <h4><%= food.name %></h4>
        </div>
      </div>
    </div>
  </div>
<% end %>

